body {
  color: white;
  background-color: black; }

.hero-platypus {
  background-image: url(../../assets/img/platypus-nav-bg.png);
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 200px; }

.cut-out {
  position: absolute;
  width: 100%;
  background-image: url(../../assets/img/cut-out.png);
  background-size: cover;
  padding-bottom: 10%;
  bottom: 0; }

#playtpus-cart {
  margin-right: -23.3rem;
  margin-top: -1.2rem; }

.mobile-only-playtpus {
  margin-top: 0;
  padding-top: 1rem; }
  .mobile-only-playtpus .logo {
    margin-left: -1.4rem; }

.desktop-only-playtpus {
  margin-top: 0;
  padding-top: 5rem; }

.pinstripe-wrap {
  padding-top: 10%;
  padding-bottom: 10%;
  width: 82%;
  margin: 0 auto; }
  .pinstripe-wrap p, .pinstripe-wrap h1, .pinstripe-wrap h2, .pinstripe-wrap h3 {
    color: #fdfdfd; }
  .pinstripe-wrap .pinstripe-head {
    padding-bottom: 4%;
    border-bottom: 1px solid rgba(95, 91, 91, 0.5);
    margin-bottom: 10%; }
    .pinstripe-wrap .pinstripe-head h1 {
      color: white;
      font-size: 2rem;
      letter-spacing: 3px;
      text-transform: uppercase;
      margin-bottom: 2%; }
    .pinstripe-wrap .pinstripe-head .bread-crumbs {
      color: RGB(139, 139, 139);
      font-size: .8rem;
      display: flex;
      justify-content: space-between;
      width: 17%;
      text-transform: uppercase; }
  .pinstripe-wrap .pinstripe-content {
    display: flex;
    flex-direction: row;
    color: white;
    flex-wrap: wrap; }
    .pinstripe-wrap .pinstripe-content .save-mobile {
      display: none; }
    .pinstripe-wrap .pinstripe-content .product-image {
      width: 36%;
      display: flex;
      justify-content: space-evenly;
      margin-right: 3%; }
      .pinstripe-wrap .pinstripe-content .product-image img {
        height: 500px;
        margin-right: 10%; }
    .pinstripe-wrap .pinstripe-content .product-description {
      width: 60%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
      .pinstripe-wrap .pinstripe-content .product-description .product-description-head {
        display: flex; }
        .pinstripe-wrap .pinstripe-content .product-description .product-description-head .text-wrap h1 {
          font-size: 1.5rem;
          margin-bottom: 10px;
          color: RGB(50, 206, 208);
          font-style: italic; }
        .pinstripe-wrap .pinstripe-content .product-description .product-description-head img {
          height: 74px;
          max-width: 115px;
          margin-right: 2%; }
      .pinstripe-wrap .pinstripe-content .product-description p {
        width: 90%;
        line-height: 1.6;
        margin: 0 auto;
        margin-bottom: 5%;
        color: RGB(139, 139, 139);
        font-size: .9rem; }
      .pinstripe-wrap .pinstripe-content .product-description .customize {
        display: flex;
        margin-bottom: 5%;
        padding-left: 7%; }
        .pinstripe-wrap .pinstripe-content .product-description .customize p {
          color: RGB(50, 206, 208);
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: .8rem; }
        .pinstripe-wrap .pinstripe-content .product-description .customize .customize-color {
          display: flex;
          width: 30%;
          align-items: center;
          margin-right: 20%; }
          .pinstripe-wrap .pinstripe-content .product-description .customize .customize-color p {
            margin-right: 1.5rem; }
          .pinstripe-wrap .pinstripe-content .product-description .customize .customize-color .color-circle {
            margin: .2rem;
            margin-top: 0;
            padding-right: 2rem;
            width: 30px;
            height: 30px;
            border-radius: 50%; }
          .pinstripe-wrap .pinstripe-content .product-description .customize .customize-color .color-option-1 {
            background-color: #875500; }
          .pinstripe-wrap .pinstripe-content .product-description .customize .customize-color .color-option-2 {
            background-color: #0cd5c4; }
          .pinstripe-wrap .pinstripe-content .product-description .customize .customize-color .color-option-3 {
            background-color: #d87b00; }
          .pinstripe-wrap .pinstripe-content .product-description .customize .customize-color .color-option-1:hover, .pinstripe-wrap .pinstripe-content .product-description .customize .customize-color .color-option-2:hover, .pinstripe-wrap .pinstripe-content .product-description .customize .customize-color .color-option-3:hover {
            cursor: pointer;
            border: solid 2px white; }
        .pinstripe-wrap .pinstripe-content .product-description .customize .customize-size {
          display: flex; }
          .pinstripe-wrap .pinstripe-content .product-description .customize .customize-size p {
            margin-right: 20%;
            padding-right: 2rem; }
          .pinstripe-wrap .pinstripe-content .product-description .customize .customize-size select {
            background: transparent;
            color: white;
            width: 30%;
            border: none; }
      .pinstripe-wrap .pinstripe-content .product-description .price {
        display: flex;
        margin-right: 8em;
        font-weight: 100;
        margin-bottom: 10%;
        padding-left: 7%; }
        .pinstripe-wrap .pinstripe-content .product-description .price p {
          color: RGB(50, 206, 208);
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: .8rem; }
        .pinstripe-wrap .pinstripe-content .product-description .price h1 {
          letter-spacing: 2px;
          font-size: 1.9rem; }
      .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap {
        display: flex;
        margin-top: 10%;
        padding-top: 10%;
        border-top: 1px solid rgba(95, 91, 91, 0.5);
        text-transform: uppercase;
        justify-content: space-between; }
        .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap .left-half {
          display: flex;
          flex-direction: column; }
          .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap .left-half button {
            background-color: transparent;
            border: 1px solid RGB(139, 139, 139);
            color: RGB(139, 139, 139); }
          .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap .left-half h1 {
            font-size: 1rem;
            margin-bottom: 20px;
            letter-spacing: 1.5px; }
          .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap .left-half .functions, .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap .left-half .hardware, .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap .left-half .ply {
            margin-bottom: 10%; }
            .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap .left-half .functions h2, .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap .left-half .hardware h2, .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap .left-half .ply h2 {
              margin-bottom: 5%;
              color: RGB(139, 139, 139);
              font-size: .8rem; }
            .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap .left-half .functions h3, .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap .left-half .hardware h3, .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap .left-half .ply h3 {
              color: RGB(50, 206, 208);
              font-size: .8rem; }
        .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap .right-half {
          margin-bottom: 5%; }
          .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap .right-half h1 {
            font-size: 1rem;
            margin-bottom: 20px;
            letter-spacing: 1.5px;
            margin-bottom: 20px; }
          .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap .right-half iframe {
            max-width: 370px;
            height: 83%; }
      .pinstripe-wrap .pinstripe-content .product-description .related-items-wrap {
        width: 100%;
        margin-top: 10%;
        padding-top: 5%;
        border-top: 1px solid RGB(139, 139, 139); }
        .pinstripe-wrap .pinstripe-content .product-description .related-items-wrap .related-items-head {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 5%; }
          .pinstripe-wrap .pinstripe-content .product-description .related-items-wrap .related-items-head h1 {
            text-transform: uppercase;
            letter-spacing: 1.4px; }
          .pinstripe-wrap .pinstripe-content .product-description .related-items-wrap .related-items-head button {
            width: 107px;
            margin-top: unset;
            background-color: transparent;
            border: 1px solid;
            color: RGB(139, 139, 139); }
        .pinstripe-wrap .pinstripe-content .product-description .related-items-wrap .related-items-slider {
          width: 100%; }
          .pinstripe-wrap .pinstripe-content .product-description .related-items-wrap .related-items-slider ul {
            display: flex;
            transition: all 0.5s ease;
            justify-content: space-around; }
    .pinstripe-wrap .pinstripe-content button {
      width: 170px;
      height: 35px;
      border-radius: 50px;
      background-color: RGB(247, 76, 43);
      color: white;
      text-transform: uppercase;
      margin-top: 5%;
      font-size: 1rem;
      border: none; }
      .pinstripe-wrap .pinstripe-content button:hover {
        cursor: pointer; }

@media screen and (max-width: 768px) and (min-width: 540px) {
  .pinstripe-wrap {
    width: 92%;
    padding-top: 15%; }
    .pinstripe-wrap .pinstripe-head {
      text-align: center;
      margin-bottom: 8%; }
      .pinstripe-wrap .pinstripe-head h1 {
        font-size: 1.8rem;
        letter-spacing: .4rem; }
      .pinstripe-wrap .pinstripe-head .bread-crumbs {
        margin: 0 auto;
        width: 30%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        letter-spacing: .05rem; }
    .pinstripe-wrap .pinstripe-content {
      display: flex;
      flex-direction: column; }
      .pinstripe-wrap .pinstripe-content .save-mobile {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        color: grey;
        font-weight: 200;
        padding-bottom: 3rem;
        letter-spacing: .12rem; }
        .pinstripe-wrap .pinstripe-content .save-mobile p {
          font-size: .7rem;
          margin-left: .6rem; }
      .pinstripe-wrap .pinstripe-content button {
        margin: 0 auto;
        font-size: 1rem; }
      .pinstripe-wrap .pinstripe-content .product-image {
        width: 100%;
        margin-bottom: 15%; }
        .pinstripe-wrap .pinstripe-content .product-image img {
          height: 24rem;
          margin-right: 0; }
      .pinstripe-wrap .pinstripe-content .product-description {
        width: 90%;
        margin: 0 auto; }
        .pinstripe-wrap .pinstripe-content .product-description .product-description-head {
          margin: 0 auto;
          display: flex;
          flex-direction: column; }
          .pinstripe-wrap .pinstripe-content .product-description .product-description-head img {
            transition: all 0.5s ease;
            margin: 0 auto;
            height: 11rem;
            min-width: 17rem;
            padding-bottom: 4.5rem; }
          .pinstripe-wrap .pinstripe-content .product-description .product-description-head .text-wrap {
            transition: all 0.5s ease;
            margin-bottom: 3rem; }
            .pinstripe-wrap .pinstripe-content .product-description .product-description-head .text-wrap h1 {
              transition: all 0.5s ease;
              font-size: 2rem; }
        .pinstripe-wrap .pinstripe-content .product-description .customize {
          flex-direction: column; }
        .pinstripe-wrap .pinstripe-content .product-description p {
          font-size: 1.2rem;
          font-weight: 300;
          letter-spacing: 0.04rem;
          padding-bottom: .1rem; }
        .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap {
          margin-top: 8%; }
          .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap .right-half iframe {
            max-width: 180px; }
          .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap .left-half h1 {
            margin-left: 1.5rem; }
          .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap .left-half .functions h2, .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap .left-half .hardware h2, .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap .left-half .ply h2 {
            margin-left: 3rem; }
  .related-items-head button {
    display: none; } }

@media screen and (max-width: 540px) {
  .pinstripe-wrap {
    width: 92%;
    padding-top: 15%; }
    .pinstripe-wrap .pinstripe-head {
      text-align: center;
      margin-bottom: 8%; }
      .pinstripe-wrap .pinstripe-head h1 {
        font-size: 1.8rem;
        letter-spacing: .4rem; }
      .pinstripe-wrap .pinstripe-head .bread-crumbs {
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin: 0 auto;
        width: 45%;
        letter-spacing: .05rem; }
    .pinstripe-wrap .pinstripe-content {
      display: flex;
      flex-direction: column; }
      .pinstripe-wrap .pinstripe-content .save-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: grey;
        font-weight: 200;
        padding-bottom: 3rem;
        letter-spacing: .12rem; }
        .pinstripe-wrap .pinstripe-content .save-mobile p {
          font-size: .7rem;
          margin-left: .6rem; }
      .pinstripe-wrap .pinstripe-content button {
        margin: 0 auto;
        font-size: .9rem; }
      .pinstripe-wrap .pinstripe-content .product-image {
        width: 100%;
        margin-bottom: 15%; }
        .pinstripe-wrap .pinstripe-content .product-image img {
          height: 24rem;
          margin-right: 0; }
      .pinstripe-wrap .pinstripe-content .product-description {
        width: 90%;
        margin: 0 auto; }
        .pinstripe-wrap .pinstripe-content .product-description .product-description-head {
          margin: 0 auto;
          display: flex;
          flex-direction: column; }
          .pinstripe-wrap .pinstripe-content .product-description .product-description-head img {
            transition: all 0.5s ease;
            align-self: center;
            height: 7rem;
            max-width: 17rem;
            padding-bottom: 2.5rem;
            margin-right: 0; }
          .pinstripe-wrap .pinstripe-content .product-description .product-description-head .text-wrap {
            transition: all 0.5s ease;
            margin-bottom: 1.5rem; }
            .pinstripe-wrap .pinstripe-content .product-description .product-description-head .text-wrap h1 {
              transition: all 0.5s ease;
              font-size: 1.4rem; }
        .pinstripe-wrap .pinstripe-content .product-description .customize {
          flex-direction: column; }
        .pinstripe-wrap .pinstripe-content .product-description p {
          transition: all 0.5s ease;
          font-size: 1.1rem;
          font-weight: 500;
          padding-bottom: .7rem; }
        .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap {
          display: none;
          flex-direction: column; }
          .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap .right-half iframe {
            max-width: 170px; }
          .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap .left-half {
            margin-bottom: 7rem; }
            .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap .left-half h1 {
              margin-left: 1.5rem; }
            .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap .left-half .functions h2, .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap .left-half .hardware h2, .pinstripe-wrap .pinstripe-content .product-description .specifics-wrap .left-half .ply h2 {
              margin-left: 3rem; }
  .related-items-head button {
    display: none; } }

/*# sourceMappingURL=platypus.css.map */
